server:
  port: 8081

spring:
  application:
    name: security

  # H2 Database Configuration
  datasource:
    url: jdbc:h2:mem:alamanedocs;

    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA Configuration
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
